

/*this entire style is repeated and already present in shell - and this style is affecting entrie application
     Please Contact Mahesh - whoever needs this style*/

/*.tree span {
    color: #555;
}

.tree {
    min-height:20px;
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px dotted #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px dotted #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    padding:4px 8px;
    text-decoration:none;
    cursor:pointer;
    vertical-align: top;
    display: block;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    color:#000
}

.tree > ul ul {
    margin-left: 30px;
}

.tree span > i {    
    background: url('Images/tree-sprites.png');
    width: 30px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
}

.tree i.icon-gateway {
    background-position: 0px 0px;
}

.tree i.icon-panel {
    background-position: 100px 0px;
}

.tree i.icon-door {
    background-position: 62px 0px;
}

.tree i.icon-reader {
    background-position: 32px 0px;
}

.tree i.icon-panel-input {    
    background-position: 3px 21px;
}

.tree i.icon-panel-output {    
    background-position: 100px 21px;
}

.tree i.icon-schedule {    
    background-position: 64px 24px;
    height: 24px;
}

.tree i.icon-people {    
    background-position: 30px 24px;
    height: 24px;
}

.tree .selected-node {
    background: #ddd;
}*/
