.hideButton {
    text-decoration: none;
}
.hideButton:hover{
color:#0889C5;
}
.buttonGroup {
    border-top: 1px solid #d3d3d3;
    clear: both;
    padding-top: 14px;
    position: fixed;
    bottom: 16px;
    width: 100%;
    text-align: right;
    padding-right: 24px;
}
/* CSS Document */

.rulesContainer .buttonGroup {
    text-align: left;
    /*padding: 20px;*/
    position: fixed;
    background: #fff;
    bottom: 0px;
    /*z-index: 10000;*/
}
