<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @*@Styles.Render("~/Content/LoginPlugin/css1")*@
    @*<link href="~/Content/LoginPlugin/loginstyle.css" rel="stylesheet" />*@
    <title>@ViewBag.Title</title>
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
