<bindings>

  <basicHttpBinding>
    <binding name="basicHttpBindingConfiguration" allowCookies="false" closeTimeout="00:01:00" hostNameComparisonMode="StrongWildcard"
             maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" messageEncoding="Text"
             openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00" textEncoding="utf-8"
             bypassProxyOnLocal="false" useDefaultWebProxy="true">
      <readerQuotas
               maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxDepth="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" />
      <security mode="Transport">
        <transport clientCredentialType="None" proxyCredentialType="None"/>
      </security>
    </binding>
  </basicHttpBinding>

</bindings>