<client>
	<!--System Configuration Service related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/SystemConfigurationService/SystemConfigurationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="ConfigurationService.IConfigurationContract" name="Ep_IConfigurationContract"/>
	<!--System Configuration Service - dealer singup related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/SystemConfigurationService/SystemConfigurationService.svc/SysConfigDealerSignupEndpoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="ConfigurationService.IDealerManagement" name="Ep_IDealerManagement"/>
	<!--System Configuration Service - password recovery related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/SystemConfigurationService/SystemConfigurationService.svc/SysConfigPasswordRecoveryEndpoint" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="ConfigurationService.IPasswordRecovery" name="Ep_IPasswordRecovery"/>
	<!--Hardware Service related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/HardwareConfigurationService/HardwareConfigurationService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="HardwareConfigService.IHardwareConfigService" name="Ep_IHardwareConfigService"/>
	<!--Identity Service related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/IdentityService/IdentityService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="IdentityService.IIdentityService" name="Ep_IIdentityService"/>
	<!--Report Service related client endpoint configuration-->
	<endpoint address="https://honeywell.api-UCP-Platform.org/ReportService/ReportService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="ReportService.IReportService" name="Ep_IReportService"/>
	<endpoint address="https://honeywell.api-UCP-Platform.org/EventService/EventService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfiguration" contract="EventService.IEventService" name="Ep_IEventService"/>
</client>
