@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Dealer_Error</title>
</head>
<body>
    <h2>
        @Resources.Dealer_ErrorText
    </h2>
</body>
</html>