.credential-root ul {
    list-style: none;
    margin: 0;
}

    .credential-root ul li {
        float: left;
        padding-bottom: 0 !important;
        /*margin-right: 14px;*/
    }

.credential-root h4 {
    font-size: 15px;
    color: #3b3b3d;
    font-weight: normal;
}

.credential-root .panel-heading {
    width: 277px;
    display: block;
    font-size: 14px;
}

.credential-root .clear {
    clear: both;
}

.credential-root label.formControl-checkbox {
    position: relative;
    padding: 0;
    top: 0 !important;
    width: auto;
    margin-bottom: 0;
}

    .credential-root label.formControl-checkbox span {
        display: block;
        width: auto;
        height: auto;
        min-height: 20px;
        padding-top: 0;
        padding-left: 25px;
        font-weight: normal;
    }

.credential-root .spaceBottomStyle select {
    /*height: 55px;*/
    border-width: 0 1px 1px 0;
}

.credential-root label.formControl-checkbox.control-box {
    width: 274px;
    padding: 0 0 8px 14px;
    /*padding: 26px 0 8px 14px;*/
    /*border: 1px solid #ccc;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    border-width: 0 1px 1px 0;
    margin: 0 0 16px 0;
}

.credential-root .right-inner-addon > span {
    padding: 27px 12px;
    width: 35px;
}

.credential-root .add-on b {
    background-position: 0;
}

.credential-root .image-place-holder {
    position: relative;
    background: url('../images/img_profile.png');
    /*width: 250px;
    height: 250px;*/
    width: 180px;
    height: 180px;
    margin-right: 24px;
    background-repeat: no-repeat;
    background-size: 100%;
}

    .credential-root .image-place-holder img {
        width: 100%;
        height: 100%;
    }

    .credential-root .image-place-holder #inptCreateCdHldPhoto {
        top: 0px;
        left: 0px;
        width: 180px;
        height: 180px;
        position: absolute;
    }

    .credential-root .image-place-holder input[type=file] {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        -khtml-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        cursor: pointer;
    }

@-moz-document url-prefix() {
    .credential-root .image-place-holder input[type=file] {
        position: relative !important;
        /*top: -180px !important;*/
    }
}

.credential-root .block-field {
    padding-bottom: 16px !important;
}

.credential-root .photo-list-item {
    background-image: url(images/img_profileSmall.png);
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

    .credential-root .photo-list-item img {
        width: 100%;
        height: 100%;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        /* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    }

.credential-root h3 {
    text-align: center;
}

    .credential-root h3 .btn-link {
        font-size: 15px;
        text-transform: uppercase;
        color: #3B3B3D;
        display: block;
        font-family: "Open Sans Semibold" !important;
        /*padding-top: 7px;
    padding-bottom: 13px;*/
        text-decoration: none;
    }

.credential-root .delete-icon {
    background: url('../images/sprite_icons.png') no-repeat -190px -10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}

    .credential-root .delete-icon:hover {
        background: url('../images/sprite_icons.png') no-repeat -220px -10px;
    }

.credential-root .edit-icon {
    background: url('../images/sprite_icons.png') no-repeat -70px -160px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    margin-top: 5px;
}

    .credential-root .edit-icon:hover {
        background: url('../images/sprite_icons.png') no-repeat -100px -160px;
    }

.credential-root #deleteCredentialHolderConfirm {
    width: 710px;
}

.credential-root #assignedCredentialList, .credential-root #unassignedCredentialList {
    width: 390px;
    left: 55%;
}

.credential-root .table-wrap {
    height: 235px;
    -ms-overflow-y: auto;
    overflow-y: auto;
    border-bottom: 1px solid #D3D3D3;
}

    .credential-root .table-wrap thead {
        position: absolute;
        top: 0;
        display: inherit;
        background-color: white;
        z-index: 2;
        width: 100%;
    }

        .credential-root .table-wrap thead th {
            border-bottom: 1px solid #A7A7A8;
            border-right: 1px solid #D3D3D3;
            font-size: 14px;
            color: #3B3B3D;
            vertical-align: middle;
            font-weight: normal;
            padding: 7px 14px;
            -webkit-word-break: break-all;
            -moz-word-break: break-all;
            -ms-word-break: break-all;
            word-break: break-all;
        }


    .credential-root .table-wrap table tr td:first-child {
        width: 30px;
    }

.credential-root #manageCredentialHolder table td {
    vertical-align: top;
}

.credential-root #unassignedCredentialList section,
.credential-root #assignedCredentialList section {
    padding-top: 0;
}

/*.bootstrap-datetimepicker-widget {
margin-left: -254px;
position: absolute;
margin-top: -17px;
}*/

/*Popover styles*/
.credential-root .unassigned-popover .avail-cards {
    background: #9fa2a3;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
/*.credential-root .unassigned-popover .avail-cards:hover {
    background:#323232;
}*/

.credential-root .unassigned-popover .popover-content {
    -ms-overflow-y: auto;
    overflow-y: auto;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    padding: 0;
}

.credential-root .unassigned-popover .cardnumlist .popover-content {
    height: 335px;
}

.credential-root .popover.right .arrow {
    top: 55% !important;
}

.credential-root .unassigned-popover .popover.right .arrow:after {
    border-right-color: #28282a;
}

.credential-root .unassigned-popover .popover-content::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.credential-root .unassigned-popover .popover-content::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0,0,0,0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: gray;
    -webkit-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.05), inset 1px 1px 0 rgba(0,0,0,0.05);
    -moz-box-shadow: inset -1px -1px 0 rgba(0,0,0,0.05), inset 1px 1px 0 rgba(0,0,0,0.05);
    box-shadow: inset -1px -1px 0 rgba(0,0,0,0.05), inset 1px 1px 0 rgba(0,0,0,0.05);
    filter: progid:DXImageTransform.Microsoft.dropshadow( OffX=1px, OffY=1px, Color='black', Positive='true' ); /* IE 5.5 */
    border-collapse: separate; /* Required by IE 9 */
}

.credential-root .unassigned-popover .popover-content::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    /* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */ border-radius: 10px;
    margin-top: 20px;
}

.credential-root .unassigned-popover .popfooter {
    position: absolute;
    bottom: -1px;
    left: -1px;
    width: 100%;
    padding: 13px 0;
    z-index: 50;
}

.credential-root .unassigned-popover span.cardstatus {
    display: block;
    padding: 0 0 0 29px;
    color: #6F7074;
    border-bottom: 1px dotted #626262;
    height: 30px;
}

.credential-root .unassigned-popover li:last-child span.cardstatus {
    border-bottom: none;
}




.credential-root .unassigned-popover .avail-cardlist li {
    display: block;
    width: 100%;
    padding: 10px 0 0 24px !important;
}

    .credential-root .unassigned-popover .avail-cardlist li:hover, .credential-root .unassigned-popover .avail-cardlist li.selected {
        background: #454545;
    }

    .credential-root .unassigned-popover .avail-cardlist li strong {
        color: #bababa;
        font-weight: 400;
        margin: 0 0 0 9px;
    }

        .credential-root .unassigned-popover .avail-cardlist li strong:hover {
            color: #d3d3d3;
        }

#credentialHolderListSearchBtn {
    line-height: normal;
    min-width: 269px;
    height: 47px;
    margin-left: 18px;
}

#unassignedSearchBtn {
    line-height: normal;
    min-width: 269px;
    height: 47px;
    border-bottom: 1px dotted #626262;
    margin-left: 24px;
}

    #unassignedSearchBtn input, #credentialHolderListSearchBtn input {
        padding-left: 3px;
        width: 10px;
        cursor: pointer;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        filter: progid:DXImageTransform.Microsoft.dropshadow( OffX=0, OffY=0, Color='black', Positive='false' ); /* IE 5.5 */
        border-collapse: separate; /* Required by IE 9 */
        background: url(../images/icon_search.png) no-repeat right;
        -webkit-background-size: 20px !important;
        -moz-background-size: 20px !important;
        -ms-background-size: 20px !important;
        -o-background-size: 20px !important;
        background-size: 20px !important;
        margin: 5px 0 0px 24px;
        border: none !important;
    }

        #unassignedSearchBtn input, #credentialHolderListSearchBtn input:hover {
            background: url(../images/icon_searchHover.png) no-repeat right !important;
        }

    #unassignedSearchBtn input {
        margin: 5px 0 0px 0;
    }

#credentialHolderListSearchBtn input {
    margin: 0;
}

#unassignedSearchBtn input[type=search]:focus {
    margin: 8px 0 0px 0;
    width: 220px;
    color: #bababa;
    padding: 8px 30px 4px 12px;
    border: 1px solid #454545 !important;
    background: #3b3b3b url(../images/icon_searchHover.png) no-repeat right !important;
    -webkit-background-size: 15px !important;
    -moz-background-size: 15px !important;
    -ms-background-size: 15px !important;
    -o-background-size: 15px !important;
    background-size: 15px !important;
}

#credentialHolderListSearchBtn input[type=search]:focus {
    color: #bababa;
    cursor: auto;
    width: 200px;
    padding: 0px 30px 4px 12px;
    background: #3b3b3b url(../images/icon_searchHover.png) no-repeat right !important;
    -webkit-background-size: 15px !important;
    -moz-background-size: 15px !important;
    -ms-background-size: 15px !important;
    -o-background-size: 15px !important;
    background-size: 15px !important;
    border: 1px solid #454545 !important;
    margin: 0px 0 0;
    padding: 0px;
    height: 22px;
}

#credentialHolderListSearchBtn input[type=search]:focus {
    color: #bababa;
    cursor: auto;
    width: 200px;
    padding: 4px 30px 4px 12px;
    background: url(../images/icon_searchHover.png) no-repeat right !important;
    -webkit-background-size: 15px !important;
    -moz-background-size: 15px !important;
    -ms-background-size: 15px !important;
    -o-background-size: 15px !important;
    background-size: 15px !important;
    border: 1px solid lightgray !important;
}



.credential-root .unassigned-popover p.checkboxes {
    color: #bababa;
    width: 150px;
    float: left;
    margin: -6px 0 0;
}

.credential-root .unassigned-popover #confirmButton {
    float: right;
    margin: 0 24px 0 0;
}

.credential-root .unassigned-popover .popover-content h1 {
    font-size: 19px;
    font-weight: 400;
    margin: 0 0 0 15px;
    color: #d3d3d3;
}

.credential-root .unassigned-popover .popover.bottom .arrow, .popover.bottom .arrow:after {
    border-bottom-color: #28282a;
}
/*.credential-root .unassigned-popover .popover .field > input, .field > input {
    background:transparent!important;
    padding-top:0!important;
}
.credential-root .unassigned-popover .popover .field > label, .field > label {
    padding-left:2px;
}*/
.credential-root .unassigned-popover .thumbnail, .avail-cardlist li:last-of-type {
    border: none;
    margin-bottom: 70px;
}

.credential-root .unassigned-popover .popover {
    background-color: #323232;
    border: 1px solid #323232;
    width: 308px;
    height: auto;
    top: -200px !important;
}

    .credential-root .unassigned-popover .popover.right {
        margin-left: 10px !important;
    }

.credential-root .unassigned-popover .popover-title {
    background-color: #272727;
    border-bottom: 1px solid #1d1d1d;
    color: #d3d3d3;
    padding: 16px 23px 16px 23px;
    font-size: 15px;
    text-align: left;
}

.credential-root .unassigned-popover .formControl-checkbox {
    top: 10px !important;
    width: 21px;
    height: 32px;
    float: left;
    padding-bottom: 10px;
}

    .credential-root .unassigned-popover .formControl-checkbox span {
        padding: 0;
    }

.credential-root div.unassigned-popover {
    display: inline-block;
}

.credential-root .asso-cards {
    clear: both;
}

    .credential-root .asso-cards button {
        margin: 0 0 5px;
        background: linear-gradient(to top, #9fa2a3, #979a9b) repeat scroll 0% 0% transparent;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -ms-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        position: relative;
        min-width: 160px;
    }

        .credential-root .asso-cards button:hover {
            background: #f5f5f5;
            color: #fff; /* Fallback for older browsers */
            color: rgba(255,255,255, 0.15);
        }

    .credential-root .asso-cards a {
        display: none;
        padding: 0 5px;
    }

    .credential-root .asso-cards span {
        position: absolute;
        top: 5px;
        left: 0;
        min-width: 185px;
    }

    .credential-root .asso-cards .asso-cards-edit {
        background: url(../images/sprite_icons.png) no-repeat -130px -430px;
        float: left;
        width: 20px;
        height: 20px;
        position: relative;
        left: 13px;
        display: none !important;
    }

    .credential-root .asso-cards div:hover .asso-cards-edit {
        display: block !important;
    }

    .credential-root .asso-cards .asso-cards-edit:hover {
        background: url(../images/sprite_icons.png) no-repeat -160px -430px;
    }

    .credential-root .asso-cards .asso-cards-diss {
        background: url(../images/sprite_icons.png) no-repeat -430px -309px;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 50%;
        margin-left: -5px;
        display: none !important;
    }

    .credential-root .asso-cards div:hover .asso-cards-diss {
        display: block !important;
    }

    .credential-root .asso-cards .asso-cards-diss:hover {
        background: url(../images/sprite_icons.png) no-repeat -460px -309px;
    }

    .credential-root .asso-cards .asso-cards-del {
        background: url(../images/sprite_icons.png) no-repeat -338px -40px;
        float: right;
        width: 20px;
        height: 20px;
        display: none !important;
    }

    .credential-root .asso-cards div:hover .asso-cards-del {
        display: block !important;
    }

    .credential-root .asso-cards .asso-cards-del:hover {
        background: url(../images/sprite_icons.png) no-repeat -368px -40px;
    }

.credential-root .stickedrow {
    height: 40px;
    background-color: #e6f3fb !important;
}

.credential-root .peoplelist {
    top: 76px;
    margin: 0 24px 24px 24px;
}

    .credential-root .peoplelist .table thead tr th {
        border-bottom: 1px solid #A7A7A8;
        border-right: 1px solid #D3D3D3;
        border-top: 1px solid #BABABB !important;
        font-size: 14px;
        color: #707070;
        vertical-align: middle;
        font-weight: normal;
        padding: 0 14px;
        -webkit-word-break: break-all;
        -moz-word-break: break-all;
        -ms-word-break: break-all;
        word-break: break-all;
        height: 42px;
    }

    .credential-root .peoplelist .table tbody tr td {
        
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 14px;
        /*border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;*/
        vertical-align: middle;
        border: 0px solid #fff;
        border-collapse: separate;
        background-clip: padding-box;
    }

    .credential-root .peoplelist .table tbody tr {
        -webkit-word-break: break-all;
        -moz-word-break: break-all;
        -ms-word-break: break-all;
        word-break: break-all;
        border-bottom: 1px solid #D6D6D6;
    }

    .credential-root .peoplelist .table thead tr th:first-child, .credential-root .peoplelist .table thead tr td:first-child {
        /*width:72px;*/
        width: 58px;
        padding-right: 0;
    }

    .credential-root .peoplelist .table thead tr th:last-child {
        border-right: none;
    }

    .credential-root .peoplelist .table thead tr th:nth-child(2) {
        width: 35%;
    }

    .credential-root .peoplelist .table thead tr th:nth-child(3) {
        width: 25%;
    }

    .credential-root .peoplelist .table thead tr th:nth-child(4) {
        width: 20%;
    }

    .credential-root .peoplelist .table thead tr th:nth-child(5) {
        width: 10%;
    }

    .credential-root .peoplelist .table thead tr th:nth-child(6) {
        width: 10%;
    }


    .credential-root .peoplelist .btn {
        padding: 0;
    }

    .credential-root .credential-holders-list .search-item-text {
    cursor: pointer;
}

    .credential-root .peoplelist .table tbody tr:hover, .credential-root .peoplelist .table tbody tr td:hover {
        background-color: #e6f3fb;
    }

        .credential-root .peoplelist .table tbody tr:hover td, .credential-root .peoplelist .table tbody tr:hover th {
            background-color: #e6f3fb !important;
        }

    .credential-root .peoplelist .table {
        border-left: none;
        border-right: none;
    }

.credential-root .credential-header {
    font-size: 16px;
    color: #3B3B3D;
    vertical-align: middle;
    font-weight: normal;
    /* padding-left: 14px; */
    padding-right: 14px;
    -webkit-word-break: break-all;
    -moz-word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-all;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Open Sans Semibold" !important;
}

.credential-root #manageCredential {
    left: 40% !important;
    width: 60% !important;
    min-height: 60%;
}

.credential-root #manageCredentialHolder {
    left: 40% !important;
    width: 60% !important;
    min-height: 60%;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width : 1824px) and (max-width : 1824px) {
    .credential-root #manageCredentialHolder {
        min-height: 0 !important; /*css hack*/
    }

    .credential-root #manageCredential {
        min-width: 35% !important;
        width: 35% !important;
        min-height: 0 !important;
    }

    .credential-root .image-place-holder input[type=file] {
        margin-left: -180px;
    }

    .credential-root #unassignedCredentialList #sticky-list, .credential-root #assignedCredentialList #sticky-list {
        width: 100%;
    }

    .credential-root .image-place-holder {
        left: 0px;
    }
}

.credential-root .buttonGroupTree {
    position: absolute !important;
    bottom: 0;
    padding: 14px 0 30px 24px;
    background: #272727;
    text-align: left;
    border-top: 1px solid #454545;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    /* behavior: url(./border-radius.htc); For IE, download and customize htc file http://curved-corner.googlecode.com/files/border-radius.htc */
    width: 93%;
}

.credential-root .asso-cards div {
    margin: 0 5px 5px 0;
    background: linear-gradient(to top, #9fa2a3, #979a9b) repeat scroll 0% 0% transparent;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    float: left;
    min-width: 160px;
    position: relative;
    text-align: center;
    white-space: inherit;
}

    .credential-root .asso-cards div:hover {
        background: #272727;
        color: #fff; /* Fallback for older browsers */
        color: rgba(255,255,255, 0.15);
    }

.credential-root #unassignedCredentialList.mpcmodel header span, .credential-root #assignedCredentialList.mpcmodel header span {
    word-wrap: break-word;
}

.credential-root #unassignedCredentialList #sticky-list, .credential-root #assignedCredentialList #sticky-list {
    overflow: hidden;
    position: relative;
    padding-top: 35px;
    width: 96%;
    border-bottom: none;
}

.credential-root #unassignedCredentialList .table-wrap thead th {
    border-top: 1px solid #BABABB !important;
}

    .credential-root #unassignedCredentialList .table-wrap thead th:last-child, .credential-root #assignedCredentialList .table-wrap thead th:last-child {
        border-right: none;
    }

.credential-root #unassignedCredentialList .table-wrap td, .credential-root #assignedCredentialList .table-wrap td {
    padding: 4px;
}

.credential-root #unassignedCredentialList.mpcmodel section, .credential-root #assignedCredentialList.mpcmodel section {
    padding: 0 24px 57px 24px;
}

.credential-root #unassignedCredentialList td label.formControl-checkbox, .credential-root #assignedCredentialList td label.formControl-checkbox {
    left: 10px;
    top: 4px !important;
}

.credential-root #unassignedCredentialList .table-wrap table tr td:first-child, .credential-root #assignedCredentialList .table-wrap table tr td:first-child {
    width: 85px;
}

.credential-root #assignedCredentialList .table-wrap thead th {
    border-top: none;
}

.credential-root .limited_check {
    display: block;
    border: none;
    padding: 0px 0 4px 11px;
}

    .credential-root .limited_check:disabled {
        color: #ccc;
    }

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width : 1824px) and (max-width : 1824px) {
    #manageCredentialHolder {
        max-width: 35%;
    }
}


#manage_credential_form #credential_PIN {
    width: 223px !important;
}

#manage_credential_form #credential_PIN.invalidError {
    background-position-x: 208px !important;
}

#manage_credential_form .controls.passfield{
    height:51px !important;
}

#manage_credential_form .field #credential_PIN + .tooltip.bottom .tooltip-arrow {
    left: 232px !important;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .credential-root .unassigned-popover .avail-cardlist {
        position: absolute;
        -ms-overflow-y: scroll;
        max-height: 213px;
    }
}