<div id="reportIndexSectionId" class="reportsContent">
    
    <div id="reportListSectionId" class="reportsListSection">
        @{
            Html.RenderPartial("_NewReportIndexPartial");
        }
    </div>
    <div id="newReportSectionId" class="newReportsSection">
        @{
            Html.RenderPartial("_ReportListIndexPartial");
        }
    </div>
</div>