@*<div class="operatorDetailButtons">
    <button class="secondary-button" role="button" data-bind="click:$data.close">@Resources.Report_Back</button>
</div>*@
<a><b class="icon_accessarrow" data-bind="click:$data.close,title: 'Back'" data-original-title="Back"></b></a>