<h3>@Resources.Index_New_Reports</h3>
<p>
    @Resources.Index_Report_List_Content
    <button class="primary-button" type="button" data-bind="click: $data.createreports">@Resources.create_reports</button>
</p>
