@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Report_ErrorText</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Report_ErrorWithDotText</h1>
        <h2>@Resources.Report_ErrorOccurredWhileProcessingRequest</h2>
    </hgroup>
</body>
</html>