<!-- ko stopBinding: true -->
<ul id="accesspersona_nav_pane" data-navpane="ACCESSPERSONA" class="nav pull-left left navpaneform">
    <li>
        <button class="btn btn-link" data-bind="click: $data.finishAccessMap"><i class="icon_accessarrow"></i>@Resources.lbl_Finish_Give_access</button>
    </li>
</ul>
<!-- /ko -->