<div id="accesspersona_credential_holders" class="accesspersona-root">
    <div class="UserClassCreate user-height">
        <div id='accessPersonaCHListBtn'>
            <input placeholder='' type='search' data-bind="autoFilter:{wrapperClassName : 'accessPersona-credential-holders'}">
        </div>
        <ul>
            <li class="accessPersona-credential-holders">
                <!-- ko foreach: $data.credentialHolders -->
                <a class="search-item">
                    <div class="UserListitem" data-bind="css: { selecteditem: $data.IsSelected }, click: $parent.holderSelected">
                        <div class="pull-left imgHolder photo-list-item">
                            <img data-bind="attr: { src: $parent.getPhoto($data) }" />
                        </div>
                        <div class="txtFields">
                            <ul>
                                <li class="bottomSpace grid-text1 search-item-text" data-bind="text: $data.Name1"></li>
                                <li class="bottomSpace grid-text1 search-item-text" data-bind="text: $data.Name3"></li>
                            </ul>
                        </div>
                    </div>
                </a>
                <!-- /ko -->
            </li>
        </ul>
    </div>
</div>