<div class="credential-root">
    <div data-accounttype="CREDENTIALHOLDERS" class="settingsform">
        @{
            Html.RenderAction("CredentialHolders");
        }
    </div>
    @{
        Html.RenderAction("UnassignedCredentials");
    }
    @{
        Html.RenderAction("AssignedCredentials");
    }
    @{
        Html.RenderAction("CredentialHolder");
    }
    @{
        Html.RenderAction("Credential");
    }
    @{
        Html.RenderAction("DeleteCredentialHolderConfirm");
    }
    <input type="hidden" id="credentialmgmturl" value="@Url.Action("", "CredentialMgmt")" />
    <input type="hidden" id="fileMgmturl" value="@Url.Action("", "File")" />
    @*<link rel="stylesheet" href="~/Content/CredentialMgmtPlugin/CredentialManagement.css" />*@

    @Scripts.Render("~/bundles/CredentialMgmtPluginscript1")

    @*<script src="~/Scripts/CredentialMgmtPlugin/credential-common.js"></script>
        <script src="~/Scripts/CredentialMgmtPlugin/credential-model.js"></script>
        <script src="~/Scripts/CredentialMgmtPlugin/credential-validation-context.js"></script>
        <script src="~/Scripts/CredentialMgmtPlugin/credential-datacontext.js"></script>
        <script src="~/Scripts/CredentialMgmtPlugin/credential-uicontext.js"></script>
        <script src="~/Scripts/CredentialMgmtPlugin/BigInteger.js"></script>*@
</div>