<div class="modal fade modal-confirm" id="deleteCredentialHolderConfirm" role="dialog">
    <div id="deleteCredentialHolderConfirmContent" class="modal-dialog">
        <div class="modal-content">
            <div class="erroricon">
            </div>
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Credential_Holder_DeleteAll_Confirm</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="primary-button" data-bind="click: $data.deleteCredentialHolder">@Resources.Credential_Delete_User_Only</button>
                <button type="button" class="primary-button" data-bind="click: $data.deleteAll">@Resources.Credential_Delete_Card_And_Holder</button>
                <button type="button" class="secondary-button" data-bind="click: $data.cancelConfirmation">@Resources.Cancel</button>
            </div>
        </div>
    </div>
</div>