@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Profile_ErrorText</title>
</head>
<body>
    <h2>
        @Resources.Profile_ErrorOccurredWhileProcessingYourRequest
    </h2>
</body>
</html>